<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp</title>
      <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap" rel="stylesheet">
      <link href="../public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>Timestamp Microservice</h2>
        <h3>Enter a date in any format:</h3>
        <input id='desired-date' type="text" placeholder="Enter a date">
        <button type="submit" onclick=submitDate()>Submit</button>
        <p id="result">
        </p>
      </div>
      <div class="footer">
        <p>
          by <a id='signature' href="https://azotamiota.github.io">azotamiota</a>
        </p>
      </div>
      <script>
        const submitDate = () => {
          document.getElementById('result').innerHTML = '<h3>Loading...</h3>'
          const enteredDate = document.getElementById('desired-date').value
          fetch(`https://boilerplate-project-timestamp.norbertmajer.repl.co/api/${enteredDate}`)
          .then(res => res.json())
          .then(data => {
            !data.unix ? document.getElementById('result').innerHTML = data.error :
            document.getElementById('result').innerHTML = `Unix timestamp of the entered date : ${data.unix}<br><br>UTC timestamp of the entered date: ${data.utc}`
          })
        }
      </script>
  </body>
</html>
