body {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
}
h2 {
	margin-bottom: 60px;
}
.container {
	padding: 0;
    width: 70vw;
    margin: 40px auto;
    border: 1px solid black;
    background: #fff6e8;
    box-shadow: 5px 5px 10px;
}
.footer {
	margin-top: 40px;
}
#signature {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #FaFaFa;
}
